In [2]:
import pandas as pd

# PASSENGERS RESULTS

In [87]:
area_results = pd.read_csv(r"C:\Users\CiSTUP\OneDrive - Indian Institute of Science\vs_codes\vissim_parking\results\kia_parking_8_Area Results.att", skiprows=38, delimiter=';')

In [88]:
area_results.columns

Index(['$AREAEVALUATION:SIMRUN', 'TIMEINT', 'AREA', 'SPEED(ALL)',
       'TMINQUEUEMIN(ALL)', 'TMINQUEUEAVG(ALL)', 'TMINQUEUEMAX(ALL)', 'DENS',
       'EXPERDENS', 'NEARNEIGHBDISTMIN(ALL)', 'NEARNEIGHBDISTAVG(ALL)',
       'NEARNEIGHBDISTMAX(ALL)', 'QUEUELENMIN(ALL)', 'QUEUELENAVG(ALL)',
       'QUEUELENMAX(ALL)', 'NUMPEDSMIN(ALL)', 'NUMPEDSAVG(ALL)',
       'NUMPEDSMAX(ALL)', 'NUMPEDSWAITINGPTMIN(ALL)',
       'NUMPEDSWAITINGPTAVG(ALL)', 'NUMPEDSWAITINGPTMAX(ALL)',
       'WALKINCNT(ALL)', 'WALKOUTCNT(ALL)', 'NUMSTOPS(ALL)', 'STOPTMTOT(ALL)',
       'VELVAR(ALL)'],
      dtype='object')

In [89]:
# Define a custom function to convert time intervals to minutes
def convert_time_interval_to_minutes(time_interval):
    start, end = map(int, time_interval.split("-"))
    return start / 60 + (end/60 - start/60) / 2  # Convert start and end to minutes, and calculate the average

# Sort the data based on the converted time intervals
area_results['TIMEINT_MINUTES'] = area_results['TIMEINT'].apply(convert_time_interval_to_minutes)

In [90]:
area_results = area_results.sort_values(by='TIMEINT_MINUTES')

In [91]:
pivot_table_area = pd.pivot_table(area_results, values='STOPTMTOT(ALL)', index='TIMEINT_MINUTES', columns='AREA', fill_value=0)

# Reset the index to make "Time interval" a column
pivot_table_area.reset_index(inplace=True)

# To display the pivot table with "Time interval" as a column
print(pivot_table_area)

AREA  TIMEINT_MINUTES       2    8        9   19   20       21       22   23  \
0                 2.5     0.0  0.0      0.0  0.0  0.0      0.0      0.0  0.0
1                 7.5     0.0  0.0      0.0  0.0  0.0      0.0      0.0  0.0
2                12.5   441.3  0.0      0.0  0.0  0.0      0.0      0.0  0.0
3                17.5  1423.1  0.0    167.4  0.0  0.0     10.4      5.6  0.0
4                22.5    35.8  0.0     79.8  0.0  0.0     24.1     24.0  0.0
..                ...     ...  ...      ...  ...  ...      ...      ...  ...
286            1432.5  1052.7  0.5  23647.0  0.0  0.0  12787.9   9131.5  0.0
287            1437.5   414.8  0.0  26186.4  0.0  0.0  14968.0  12168.0  0.0
288            1442.5   403.8  0.0  27444.3  0.0  0.0  15328.8  11499.5  0.0
289            1447.5   521.6  0.0  29476.7  0.0  0.0  15550.6  10240.3  0.0
290            1452.5     0.0  0.0     10.3  0.0  0.0      5.6      3.6  0.0

AREA   24  ...   47   48   49      50      51      52   53    54     55    56
0     0.0  ...  0.0  0.0  0.0     0.0     0.0     0.0  0.0   0.0    0.0   0.0
1     0.0  ...  0.0  0.0  0.0     0.0     0.0     0.0  0.0   0.0    0.0   0.0
2     0.0  ...  0.0  0.0  0.0     0.0     0.0     0.0  0.0   0.0  133.5  14.5
3     0.0  ...  0.0  0.0  0.0     0.0   167.4     0.0  0.0  20.8  108.3  15.6
4     0.0  ...  0.0  0.0  0.0     3.3    69.0     7.4  0.0   0.0    0.0   0.0
..    ...  ...  ...  ...  ...     ...     ...     ...  ...   ...    ...   ...
286   0.0  ...  0.0  0.0  0.0  5403.0  6265.5  4489.2  0.0   5.4  117.5   4.5
287   0.0  ...  0.0  0.0  0.0  5607.9  8329.2  4391.9  0.0   0.0   39.1   3.3
288   0.0  ...  0.0  0.0  0.0  6140.5  9344.3  4083.2  0.0   0.0   92.8   3.3
289   0.0  ...  0.0  0.0  0.0  6515.8  9913.1  3807.5  0.0   0.0   84.5   0.0
290   0.0  ...  0.0  0.0  0.0     2.2     3.4     1.3  0.0   0.0    0.0   0.0

[291 rows x 40 columns]

In [92]:
pivot_table_area["TIMEINT"] = pivot_table_area["TIMEINT_MINUTES"].apply(lambda x: f"{int(x)-2}-{int(x)+3}")

In [93]:
pivot_table_area.to_csv(r"C:\Users\CiSTUP\OneDrive - Indian Institute of Science\vs_codes\vissim_parking\results\kia_parking_Area Results_3_pivot.csv", index=False)

In [5]:
# area_results.to_csv(r"C:\Users\CiSTUP\OneDrive - Indian Institute of Science\vs_codes\vissim_parking\results\kia_parking_Area Results_3.csv", index=False)

# PARKING LOT GROUP RESULTS

In [94]:

parking_results = pd.read_csv(r"C:\Users\CiSTUP\OneDrive - Indian Institute of Science\vs_codes\vissim_parking\results\kia_parking_8_Parking Lot Group Results.att", skiprows=26, delimiter=';')

In [95]:
parking_results

,$PARKINGLOTGROUPEVALUATION:SIMRUN,TIMEINT,PARKINGLOTGROUP,NUMVEHSPARK(ALL),NUMVEHSENTER(ALL),NUMVEHSLEAVE(ALL),OCCUPDURTOT(ALL),PARKDURMIN(ALL),PARKDURMAX(ALL),PARKDURAVG(ALL),OCCUPRATE(ALL),PARKSPCBLOCKDURTOT(ALL),PARKSPCBLOCKRATE(ALL),PARKFEETOT(ALL)
0,1,0-300,5,0,0,0,0.0,NaN,NaN,NaN,0.00 %,0.0,0.00 %,0.0
1,1,0-300,6,0,0,0,0.0,NaN,NaN,NaN,0.00 %,0.0,0.00 %,0.0
2,1,0-300,7,0,0,0,0.0,NaN,NaN,NaN,0.00 %,0.0,0.00 %,0.0
3,1,0-300,8,0,0,0,0.0,NaN,NaN,NaN,0.00 %,0.0,0.00 %,0.0
4,1,0-300,9,0,0,0,0.0,NaN,NaN,NaN,0.00 %,0.0,0.00 %,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17029,1,99900-99999,63,0,0,0,0.0,NaN,NaN,NaN,0.00 %,0.0,0.00 %,0.0
17030,1,99900-99999,64,0,0,0,0.0,NaN,NaN,NaN,0.00 %,0.0,0.00 %,0.0
17031,1,99900-99999,65,0,0,0,0.0,NaN,NaN,NaN,0.00 %,0.0,0.00 %,0.0
17032,1,99900-99999,66,0,0,0,0.0,NaN,NaN,NaN,0.00 %,0.0,0.00 %,0.0
17033,1,99900-99999,67,0,0,0,0.0,NaN,NaN,NaN,0.00 %,0.0,0.00 %,0.0

In [96]:
# Sort the data based on the converted time intervals
parking_results['TIMEINT_MINUTES'] = parking_results['TIMEINT'].apply(convert_time_interval_to_minutes)

In [97]:
parking_results = parking_results.sort_values(by='TIMEINT_MINUTES')

In [98]:
parking_results['OCCUPRATE(ALL)'] = parking_results['OCCUPRATE(ALL)'].apply(lambda x: x.replace('%', ''))

In [99]:
parking_results['OCCUPRATE(ALL)'] = parking_results['OCCUPRATE(ALL)'].astype(float)

In [100]:
pivot_table_park = pd.pivot_table(parking_results, values='OCCUPRATE(ALL)', index='TIMEINT_MINUTES', columns='PARKINGLOTGROUP', fill_value=0)

# Reset the index to make "Time interval" a column
pivot_table_park.reset_index(inplace=True)

# To display the pivot table with "Time interval" as a column
print(pivot_table_park)

PARKINGLOTGROUP  TIMEINT_MINUTES    5    6    7    8    9   10   11   12   13  \
0                          2.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1                          7.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2                         12.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3                         17.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4                         22.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
..                           ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
329                     1647.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
330                     1652.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
331                     1657.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
332                     1662.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
333                     1665.825  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

PARKINGLOTGROUP  ...      58      59      60      61      62      63      64  \
0                ...   39.73   45.98   45.40   73.58   39.87   44.46   61.10
1                ...  100.00  100.00  100.00  100.00   66.55  100.00  100.00
2                ...   99.33  100.00  100.00  100.00  100.00  100.00  100.00
3                ...   88.33  100.00   62.51   92.58  100.00   94.98   94.33
4                ...   95.52   92.93   48.45   88.73   19.92   78.44  100.00
..               ...     ...     ...     ...     ...     ...     ...     ...
329              ...    0.00    0.00    0.00    0.00    0.00    0.00    0.00
330              ...    0.00    0.00    0.00    0.00    0.00    0.00    0.00
331              ...    0.00    0.00    0.00    0.00    0.00    0.00    0.00
332              ...    0.00    0.00    0.00    0.00    0.00    0.00    0.00
333              ...    0.00    0.00    0.00    0.00    0.00    0.00    0.00

PARKINGLOTGROUP      65    66      67
0                 30.47  0.40   41.00
1                100.00  0.73  100.00
2                100.00  0.00  100.00
3                 97.50  0.00  100.00
4                100.00  0.00   96.03
..                  ...   ...     ...
329                0.00  0.00    0.00
330                0.00  0.00    0.00
331                0.00  0.00    0.00
332                0.00  0.00    0.00
333                0.00  0.00    0.00

[334 rows x 52 columns]

In [101]:
import numpy as np

# Assume you want to aggregate 'OCCUPRATE(ALL)' and 'OTHER_COLUMN' values
pivot_table_park = pd.pivot_table(parking_results, 
                                #   values=['OCCUPRATE(ALL)', 'NUMVEHSENTER(ALL)'], 
                                values='OCCUPRATE(ALL)',
                                  index='TIMEINT_MINUTES', 
                                  columns='PARKINGLOTGROUP', 
                                  fill_value=0,
                                  aggfunc=np.mean)  # or any other aggregation function you prefer

# Reset the index to make "Time interval" a column
pivot_table_park.reset_index(inplace=True)

# Display the pivot table
print(pivot_table_park)

PARKINGLOTGROUP  TIMEINT_MINUTES    5    6    7    8    9   10   11   12   13  \
0                          2.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1                          7.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2                         12.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3                         17.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4                         22.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
..                           ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
329                     1647.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
330                     1652.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
331                     1657.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
332                     1662.500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
333                     1665.825  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

PARKINGLOTGROUP  ...      58      59      60      61      62      63      64  \
0                ...   39.73   45.98   45.40   73.58   39.87   44.46   61.10
1                ...  100.00  100.00  100.00  100.00   66.55  100.00  100.00
2                ...   99.33  100.00  100.00  100.00  100.00  100.00  100.00
3                ...   88.33  100.00   62.51   92.58  100.00   94.98   94.33
4                ...   95.52   92.93   48.45   88.73   19.92   78.44  100.00
..               ...     ...     ...     ...     ...     ...     ...     ...
329              ...    0.00    0.00    0.00    0.00    0.00    0.00    0.00
330              ...    0.00    0.00    0.00    0.00    0.00    0.00    0.00
331              ...    0.00    0.00    0.00    0.00    0.00    0.00    0.00
332              ...    0.00    0.00    0.00    0.00    0.00    0.00    0.00
333              ...    0.00    0.00    0.00    0.00    0.00    0.00    0.00

PARKINGLOTGROUP      65    66      67
0                 30.47  0.40   41.00
1                100.00  0.73  100.00
2                100.00  0.00  100.00
3                 97.50  0.00  100.00
4                100.00  0.00   96.03
..                  ...   ...     ...
329                0.00  0.00    0.00
330                0.00  0.00    0.00
331                0.00  0.00    0.00
332                0.00  0.00    0.00
333                0.00  0.00    0.00

[334 rows x 52 columns]

C:\Users\CiSTUP\AppData\Local\Temp\ipykernel_9168\2166027323.py:4: FutureWarning: The provided callable <function mean at 0x0000025117D72B60> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pivot_table_park = pd.pivot_table(parking_results,

In [102]:
pivot_table_park.columns

Index(['TIMEINT_MINUTES',                 5,                 6,
                       7,                 8,                 9,
                      10,                11,                12,
                      13,                14,                15,
                      18,                20,                21,
                      22,                23,                24,
                      25,                26,                27,
                      28,                29,                30,
                      32,                34,                35,
                      36,                37,                38,
                      39,                47,                48,
                      49,                50,                51,
                      52,                53,                54,
                      55,                56,                57,
                      58,                59,                60,
                      61,                62,                63,
                      64,                65,                66,
                      67],
      dtype='object', name='PARKINGLOTGROUP')

In [103]:
pivot_table_park.head(3)

PARKINGLOTGROUP,TIMEINT_MINUTES,5,6,7,8,9,10,11,12,13,...,58,59,60,61,62,63,64,65,66,67
0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,39.73,45.98,45.4,73.58,39.87,44.46,61.1,30.47,0.40,41.0
1,7.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,100.00,100.00,100.0,100.00,66.55,100.00,100.0,100.00,0.73,100.0
2,12.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,99.33,100.00,100.0,100.00,100.00,100.00,100.0,100.00,0.00,100.0

In [104]:
pivot_table_park["TIMEINT"] = pivot_table_park["TIMEINT_MINUTES"].apply(lambda x: f"{int(x)-2}-{int(x)+3}")

In [105]:
pivot_table_park.to_csv(r"C:\Users\CiSTUP\OneDrive - Indian Institute of Science\vs_codes\vissim_parking\results\kia_parking_Parking Lot Group Results_3_pivot.csv", index=False)

In [8]:
# parking_results.to_csv(r"C:\Users\CiSTUP\OneDrive - Indian Institute of Science\vs_codes\vissim_parking\results\kia_parking_Parking Lot Group Results_3.csv", index=False)

# QUEUE RESULTS

In [106]:
queue_results = pd.read_csv(r"C:\Users\CiSTUP\OneDrive - Indian Institute of Science\vs_codes\vissim_parking\results\kia_parking_8_Queue Results.att", skiprows=18, delimiter=';', encoding='latin1')

In [107]:
queue_results

,$QUEUECOUNTEREVALUATION:SIMRUN,TIMEINT,QUEUECOUNTER,QLEN,QLENMAX,QSTOPS
0,1,0-300,1,0.00,0.00,0
1,1,0-300,2,0.46,15.46,2
2,1,0-300,3,20.62,66.72,28
3,1,0-300,4,7.12,40.80,14
4,1,0-300,5,0.00,0.00,0
...,...,...,...,...,...,...
3001,1,99900-99999,5,NaN,NaN,0
3002,1,99900-99999,6,NaN,NaN,0
3003,1,99900-99999,7,NaN,NaN,0
3004,1,99900-99999,8,NaN,NaN,0
3005,1,99900-99999,9,NaN,NaN,0

In [108]:
queue_results.TIMEINT.unique()

array(['0-300', '300-600', '600-900', '900-1200', '1200-1500',
       '1500-1800', '1800-2100', '2100-2400', '2400-2700', '2700-3000',
       '3000-3300', '3300-3600', '3600-3900', '3900-4200', '4200-4500',
       '4500-4800', '4800-5100', '5100-5400', '5400-5700', '5700-6000',
       '6000-6300', '6300-6600', '6600-6900', '6900-7200', '7200-7500',
       '7500-7800', '7800-8100', '8100-8400', '8400-8700', '8700-9000',
       '9000-9300', '9300-9600', '9600-9900', '9900-10200', '10200-10500',
       '10500-10800', '10800-11100', '11100-11400', '11400-11700',
       '11700-12000', '12000-12300', '12300-12600', '12600-12900',
       '12900-13200', '13200-13500', '13500-13800', '13800-14100',
       '14100-14400', '14400-14700', '14700-15000', '15000-15300',
       '15300-15600', '15600-15900', '15900-16200', '16200-16500',
       '16500-16800', '16800-17100', '17100-17400', '17400-17700',
       '17700-18000', '18000-18300', '18300-18600', '18600-18900',
       '18900-19200', '19200-19500', '19500-19800', '19800-20100',
       '20100-20400', '20400-20700', '20700-21000', '21000-21300',
       '21300-21600', '21600-21900', '21900-22200', '22200-22500',
       '22500-22800', '22800-23100', '23100-23400', '23400-23700',
       '23700-24000', '24000-24300', '24300-24600', '24600-24900',
       '24900-25200', '25200-25500', '25500-25800', '25800-26100',
       '26100-26400', '26400-26700', '26700-27000', '27000-27300',
       '27300-27600', '27600-27900', '27900-28200', '28200-28500',
       '28500-28800', '28800-29100', '29100-29400', '29400-29700',
       '29700-30000', '30000-30300', '30300-30600', '30600-30900',
       '30900-31200', '31200-31500', '31500-31800', '31800-32100',
       '32100-32400', '32400-32700', '32700-33000', '33000-33300',
       '33300-33600', '33600-33900', '33900-34200', '34200-34500',
       '34500-34800', '34800-35100', '35100-35400', '35400-35700',
       '35700-36000', '36000-36300', '36300-36600', '36600-36900',
       '36900-37200', '37200-37500', '37500-37800', '37800-38100',
       '38100-38400', '38400-38700', '38700-39000', '39000-39300',
       '39300-39600', '39600-39900', '39900-40200', '40200-40500',
       '40500-40800', '40800-41100', '41100-41400', '41400-41700',
       '41700-42000', '42000-42300', '42300-42600', '42600-42900',
       '42900-43200', '43200-43500', '43500-43800', '43800-44100',
       '44100-44400', '44400-44700', '44700-45000', '45000-45300',
       '45300-45600', '45600-45900', '45900-46200', '46200-46500',
       '46500-46800', '46800-47100', '47100-47400', '47400-47700',
       '47700-48000', '48000-48300', '48300-48600', '48600-48900',
       '48900-49200', '49200-49500', '49500-49800', '49800-50100',
       '50100-50400', '50400-50700', '50700-51000', '51000-51300',
       '51300-51600', '51600-51900', '51900-52200', '52200-52500',
       '52500-52800', '52800-53100', '53100-53400', '53400-53700',
       '53700-54000', '54000-54300', '54300-54600', '54600-54900',
       '54900-55200', '55200-55500', '55500-55800', '55800-56100',
       '56100-56400', '56400-56700', '56700-57000', '57000-57300',
       '57300-57600', '57600-57900', '57900-58200', '58200-58500',
       '58500-58800', '58800-59100', '59100-59400', '59400-59700',
       '59700-60000', '60000-60300', '60300-60600', '60600-60900',
       '60900-61200', '61200-61500', '61500-61800', '61800-62100',
       '62100-62400', '62400-62700', '62700-63000', '63000-63300',
       '63300-63600', '63600-63900', '63900-64200', '64200-64500',
       '64500-64800', '64800-65100', '65100-65400', '65400-65700',
       '65700-66000', '66000-66300', '66300-66600', '66600-66900',
       '66900-67200', '67200-67500', '67500-67800', '67800-68100',
       '68100-68400', '68400-68700', '68700-69000', '69000-69300',
       '69300-69600', '69600-69900', '69900-70200', '70200-70500',
       '70500-70800', '70800-71100', '71100-71400', '71400-71700',
       '71700-72000', '72000-72300', '72300-72600', '72600-72900',
       '72900-73200', '73200-73500', '73500-73800', '73800-74100',
       '74100-74400', '74400-74700', '74700-75000', '75000-75300',
       '75300-75600', '75600-75900', '75900-76200', '76200-76500',
       '76500-76800', '76800-77100', '77100-77400', '77400-77700',
       '77700-78000', '78000-78300', '78300-78600', '78600-78900',
       '78900-79200', '79200-79500', '79500-79800', '79800-80100',
       '80100-80400', '80400-80700', '80700-81000', '81000-81300',
       '81300-81600', '81600-81900', '81900-82200', '82200-82500',
       '82500-82800', '82800-83100', '83100-83400', '83400-83700',
       '83700-84000', '84000-84300', '84300-84600', '84600-84900',
       '84900-85200', '85200-85500', '85500-85800', '85800-86100',
       '86100-86400', '86400-86700', '86700-87000', '87000-87300',
       '87300-87600', '87600-87900', '87900-88200', '88200-88500',
       '88500-88800', '88800-89100', '89100-89400', '89400-89700',
       '89700-90000', '90000-90300', '90300-90600', '90600-90900',
       '90900-91200', '91200-91500', '91500-91800', '91800-92100',
       '92100-92400', '92400-92700', '92700-93000', '93000-93300',
       '93300-93600', '93600-93900', '93900-94200', '94200-94500',
       '94500-94800', '94800-95100', '95100-95400', '95400-95700',
       '95700-96000', '96000-96300', '96300-96600', '96600-96900',
       '96900-97200', '97200-97500', '97500-97800', '97800-98100',
       '98100-98400', '98400-98700', '98700-99000', '99000-99300',
       '99300-99600', '99600-99900', '99900-99999'], dtype=object)

In [109]:
# Define a custom function to convert time intervals to minutes
def convert_time_interval_to_minutes(time_interval):
    start, end = map(int, time_interval.split("-"))
    return start / 60 + (end/60 - start/60) / 2  # Convert start and end to minutes, and calculate the average

# Sort the data based on the converted time intervals
queue_results['TIMEINT_MINUTES'] = queue_results['TIMEINT'].apply(convert_time_interval_to_minutes)

# sorted_data = sorted(queue_results, key=lambda x: convert_time_interval_to_minutes(x["TIMEINT"]))

In [110]:
queue_results = queue_results.sort_values(by='TIMEINT_MINUTES')

In [111]:
queue_results

,$QUEUECOUNTEREVALUATION:SIMRUN,TIMEINT,QUEUECOUNTER,QLEN,QLENMAX,QSTOPS,TIMEINT_MINUTES
0,1,0-300,1,0.00,0.00,0,2.500
1,1,0-300,2,0.46,15.46,2,2.500
2,1,0-300,3,20.62,66.72,28,2.500
3,1,0-300,4,7.12,40.80,14,2.500
4,1,0-300,5,0.00,0.00,0,2.500
...,...,...,...,...,...,...,...
3000,1,99900-99999,4,NaN,NaN,0,1665.825
3001,1,99900-99999,5,NaN,NaN,0,1665.825
3002,1,99900-99999,6,NaN,NaN,0,1665.825
3003,1,99900-99999,7,NaN,NaN,0,1665.825
3005,1,99900-99999,9,NaN,NaN,0,1665.825

In [112]:
queue_results.TIMEINT_MINUTES.unique()

array([   2.5  ,    7.5  ,   12.5  ,   17.5  ,   22.5  ,   27.5  ,
         32.5  ,   37.5  ,   42.5  ,   47.5  ,   52.5  ,   57.5  ,
         62.5  ,   67.5  ,   72.5  ,   77.5  ,   82.5  ,   87.5  ,
         92.5  ,   97.5  ,  102.5  ,  107.5  ,  112.5  ,  117.5  ,
        122.5  ,  127.5  ,  132.5  ,  137.5  ,  142.5  ,  147.5  ,
        152.5  ,  157.5  ,  162.5  ,  167.5  ,  172.5  ,  177.5  ,
        182.5  ,  187.5  ,  192.5  ,  197.5  ,  202.5  ,  207.5  ,
        212.5  ,  217.5  ,  222.5  ,  227.5  ,  232.5  ,  237.5  ,
        242.5  ,  247.5  ,  252.5  ,  257.5  ,  262.5  ,  267.5  ,
        272.5  ,  277.5  ,  282.5  ,  287.5  ,  292.5  ,  297.5  ,
        302.5  ,  307.5  ,  312.5  ,  317.5  ,  322.5  ,  327.5  ,
        332.5  ,  337.5  ,  342.5  ,  347.5  ,  352.5  ,  357.5  ,
        362.5  ,  367.5  ,  372.5  ,  377.5  ,  382.5  ,  387.5  ,
        392.5  ,  397.5  ,  402.5  ,  407.5  ,  412.5  ,  417.5  ,
        422.5  ,  427.5  ,  432.5  ,  437.5  ,  442.5  ,  447.5  ,
        452.5  ,  457.5  ,  462.5  ,  467.5  ,  472.5  ,  477.5  ,
        482.5  ,  487.5  ,  492.5  ,  497.5  ,  502.5  ,  507.5  ,
        512.5  ,  517.5  ,  522.5  ,  527.5  ,  532.5  ,  537.5  ,
        542.5  ,  547.5  ,  552.5  ,  557.5  ,  562.5  ,  567.5  ,
        572.5  ,  577.5  ,  582.5  ,  587.5  ,  592.5  ,  597.5  ,
        602.5  ,  607.5  ,  612.5  ,  617.5  ,  622.5  ,  627.5  ,
        632.5  ,  637.5  ,  642.5  ,  647.5  ,  652.5  ,  657.5  ,
        662.5  ,  667.5  ,  672.5  ,  677.5  ,  682.5  ,  687.5  ,
        692.5  ,  697.5  ,  702.5  ,  707.5  ,  712.5  ,  717.5  ,
        722.5  ,  727.5  ,  732.5  ,  737.5  ,  742.5  ,  747.5  ,
        752.5  ,  757.5  ,  762.5  ,  767.5  ,  772.5  ,  777.5  ,
        782.5  ,  787.5  ,  792.5  ,  797.5  ,  802.5  ,  807.5  ,
        812.5  ,  817.5  ,  822.5  ,  827.5  ,  832.5  ,  837.5  ,
        842.5  ,  847.5  ,  852.5  ,  857.5  ,  862.5  ,  867.5  ,
        872.5  ,  877.5  ,  882.5  ,  887.5  ,  892.5  ,  897.5  ,
        902.5  ,  907.5  ,  912.5  ,  917.5  ,  922.5  ,  927.5  ,
        932.5  ,  937.5  ,  942.5  ,  947.5  ,  952.5  ,  957.5  ,
        962.5  ,  967.5  ,  972.5  ,  977.5  ,  982.5  ,  987.5  ,
        992.5  ,  997.5  , 1002.5  , 1007.5  , 1012.5  , 1017.5  ,
       1022.5  , 1027.5  , 1032.5  , 1037.5  , 1042.5  , 1047.5  ,
       1052.5  , 1057.5  , 1062.5  , 1067.5  , 1072.5  , 1077.5  ,
       1082.5  , 1087.5  , 1092.5  , 1097.5  , 1102.5  , 1107.5  ,
       1112.5  , 1117.5  , 1122.5  , 1127.5  , 1132.5  , 1137.5  ,
       1142.5  , 1147.5  , 1152.5  , 1157.5  , 1162.5  , 1167.5  ,
       1172.5  , 1177.5  , 1182.5  , 1187.5  , 1192.5  , 1197.5  ,
       1202.5  , 1207.5  , 1212.5  , 1217.5  , 1222.5  , 1227.5  ,
       1232.5  , 1237.5  , 1242.5  , 1247.5  , 1252.5  , 1257.5  ,
       1262.5  , 1267.5  , 1272.5  , 1277.5  , 1282.5  , 1287.5  ,
       1292.5  , 1297.5  , 1302.5  , 1307.5  , 1312.5  , 1317.5  ,
       1322.5  , 1327.5  , 1332.5  , 1337.5  , 1342.5  , 1347.5  ,
       1352.5  , 1357.5  , 1362.5  , 1367.5  , 1372.5  , 1377.5  ,
       1382.5  , 1387.5  , 1392.5  , 1397.5  , 1402.5  , 1407.5  ,
       1412.5  , 1417.5  , 1422.5  , 1427.5  , 1432.5  , 1437.5  ,
       1442.5  , 1447.5  , 1452.5  , 1457.5  , 1462.5  , 1467.5  ,
       1472.5  , 1477.5  , 1482.5  , 1487.5  , 1492.5  , 1497.5  ,
       1502.5  , 1507.5  , 1512.5  , 1517.5  , 1522.5  , 1527.5  ,
       1532.5  , 1537.5  , 1542.5  , 1547.5  , 1552.5  , 1557.5  ,
       1562.5  , 1567.5  , 1572.5  , 1577.5  , 1582.5  , 1587.5  ,
       1592.5  , 1597.5  , 1602.5  , 1607.5  , 1612.5  , 1617.5  ,
       1622.5  , 1627.5  , 1632.5  , 1637.5  , 1642.5  , 1647.5  ,
       1652.5  , 1657.5  , 1662.5  , 1665.825])

In [113]:

pivot_table = pd.pivot_table(queue_results, values='QLEN', index='TIMEINT_MINUTES', columns='QUEUECOUNTER', fill_value=0)

# Reset the index to make "Time interval" a column
pivot_table.reset_index(inplace=True)

# To display the pivot table with "Time interval" as a column
print(pivot_table)

QUEUECOUNTER  TIMEINT_MINUTES      1      2       3      4      5    6    7  \
0                         2.5   0.00   0.46   20.62   7.12   0.00  0.0  0.0
1                         7.5  13.58  29.35   97.29  73.97  21.46  0.0  0.0
2                        12.5  34.31  69.51  128.91  76.90  41.21  0.0  0.0
3                        17.5  30.73  72.46  126.50  76.89  38.12  0.0  0.0
4                        22.5  40.36  68.78  102.24  76.53  41.49  0.0  0.0
..                        ...    ...    ...     ...    ...    ...  ...  ...
286                    1432.5  79.06   0.00    0.00   0.00  12.17  0.0  0.0
287                    1437.5  72.61   0.00    0.00   0.03  12.27  0.0  0.0
288                    1442.5  76.02   0.00    0.00   0.00  14.63  0.0  0.0
289                    1447.5  69.46   0.00    0.00   0.00  14.63  0.0  0.0
290                    1452.5  68.78   0.00    0.00   0.00  14.63  0.0  0.0

QUEUECOUNTER     8    9
0             0.00  0.0
1             0.07  0.0
2             0.00  0.0
3             0.00  0.0
4             0.00  0.0
..             ...  ...
286           0.00  0.0
287           0.05  0.0
288           0.00  0.0
289           0.00  0.0
290           0.00  0.0

[291 rows x 10 columns]

In [114]:
pivot_table["TIMEINT"] = pivot_table["TIMEINT_MINUTES"].apply(lambda x: f"{int(x)-2}-{int(x)+3}")

In [115]:
pivot_table.columns

Index(['TIMEINT_MINUTES', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'TIMEINT'], dtype='object', name='QUEUECOUNTER')

In [116]:
pivot_table.to_csv(r"C:\Users\CiSTUP\OneDrive - Indian Institute of Science\vs_codes\vissim_parking\results\kia_parking_Queue Results.csv", index=False)

# TRAVEL TIME RESULTS

In [117]:
vehicle_times = pd.read_csv(r"C:\Users\CiSTUP\OneDrive - Indian Institute of Science\vs_codes\vissim_parking\results\kia_parking_8_Vehicle Travel Time Results.att", skiprows=18, delimiter=';', encoding='latin1')

In [118]:
# vehicle_times
vehicle_times['TIMEINT_MINUTES'] = vehicle_times['TIMEINT'].apply(convert_time_interval_to_minutes)
vehicle_times = vehicle_times.sort_values(by='TIMEINT_MINUTES')

In [119]:
vehicle_times

,$VEHICLETRAVELTIMEMEASUREMENTEVALUATION:SIMRUN,TIMEINT,VEHICLETRAVELTIMEMEASUREMENT,VEHS(ALL),TRAVTM(ALL),DISTTRAV(ALL),TIMEINT_MINUTES
0,1,0-300,1,7,7952.14,3890.04,2.500
1,1,0-300,2,5,3655.12,3753.51,2.500
2,1,0-300,4,39,5555.97,3753.29,2.500
3,1,0-300,5,5,12593.55,2882.81,2.500
4,1,0-300,6,16,3781.76,2888.08,2.500
...,...,...,...,...,...,...,...
2666,1,99900-99999,4,0,NaN,NaN,1665.825
2667,1,99900-99999,5,0,NaN,NaN,1665.825
2668,1,99900-99999,6,0,NaN,NaN,1665.825
2669,1,99900-99999,7,0,NaN,NaN,1665.825
2671,1,99900-99999,9,0,NaN,NaN,1665.825

In [120]:
pivot_table = pd.pivot_table(vehicle_times, values='TRAVTM(ALL)', index='TIMEINT_MINUTES', columns='VEHICLETRAVELTIMEMEASUREMENT', fill_value=0)

# Reset the index to make "Time interval" a column
pivot_table.reset_index(inplace=True)

In [71]:
pivot_table["TIMEINT"] = pivot_table["TIMEINT_MINUTES"].apply(lambda x: f"{int(x)-2}-{int(x)+3}")

In [72]:
pivot_table.to_csv(r"C:\Users\CiSTUP\OneDrive - Indian Institute of Science\vs_codes\vissim_parking\results\kia_parking_Vehicle Travel Time Results.csv", index=False)

In [ ]:
vehicle_times{'TIMEINT_MIN'}

In [32]:
vehicle_times.to_csv(r"C:\Users\CiSTUP\OneDrive - Indian Institute of Science\vs_codes\vissim_parking\results\kia_parking_Vehicle Travel Time Results.csv", index=False)